@if (sidebarHidden()) {
  <div class="logo-section">
    <picture>
      <source media="(max-width: 640px)" srcset="/logo-mobile.svg" />
      <img [src]="logoSrc()" alt="kanban logo" />
    </picture>
  </div>
}

<div class="logo-section-mobile">
  <img src="/logo-mobile.svg" alt="kanban logo" />
</div>

<h1 class="board-title">{{ boardName() }}</h1>
<h1 class="board-title-mobile" (click)="onToggleBoards()">{{ boardName() }}</h1>

<div class="actions">
  <button
    app-button
    [disabled]="addTaskDisabled()"
    (click)="addTask.emit()"
    aria-label="Add New Task"
    class="add-task-button"
  >
    <span class="icon">+</span><span class="label">Add New Task</span>
  </button>
  <button
    app-button
    [disabled]="addTaskDisabled()"
    (click)="addTask.emit()"
    aria-label="Add New Task"
    class="add-task-button-mobile"
  >
    <img src="/icon-add-task-mobile.svg" alt="add-task-icon" />
  </button>

  <button type="button" class="options-button" aria-label="Board options">
    <svg width="5" height="20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
      <g fill="currentColor" fill-rule="evenodd">
        <circle cx="2.308" cy="2.308" r="2.308" />
        <circle cx="2.308" cy="10" r="2.308" />
        <circle cx="2.308" cy="17.692" r="2.308" />
      </g>
    </svg>
  </button>
</div>

@if (boardListOpen()) {
  <app-modal [open]="boardListOpen()" title="ALL BOARDS (3)" (close)="onCloseBoards()">
    <app-boards-menu [boards]="boards()" (createBoard)="onOpenAddBoard()"></app-boards-menu>
    <div class="theme-toggle-container">
      <app-theme-toggle />
    </div>
  </app-modal>
}

@if (addBoardOpen()) {
  <app-modal [open]="addBoardOpen()" title="Add New Board" (close)="onCloseAddBoard()">
    <app-add-board />
  </app-modal>
}
